<div class="topnav row ">
    <div class="col-3 py-3 px-5 "> <a href="/dashboard" class="h3">  <%= username %></a></div>
    <div class="col-3 py-3 px-5"><a href="/friends" class="h4" >Friends</a></div>
    <div class="col-6 py-3 px-5" id="logoutdiv"> 
      <button class="btn btn-outline-warning " id="logoutBtn" type="btn"> Logout</button>
    </div>
  </div>