<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


  </head>
  <body>
    <div class="splash-container">
      <h1 class="splash-title">Battleship</h1>
      <div>
        <a href="/singleplayer" class="btn btn-outline-dark splash-btn">Single Player</a>
        <a href="/multiplayer" class="btn btn-outline-dark splash-btn">Multiplayer</a>
      </div>
    </div>

    <img src="/images/battleship-large.svg" class="splash-battleship-image">

  </body>
</html>
