<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle Ships</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="/javascripts/multiplayer.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <script>
      let gameMode = 'multiPlayer'
      let roomCode = '<%= roomCode %>';
      let username='<%=username %>'
//console.log('Room Code:', roomCode);















    </script>

  </head>
  <body id="multiplayerBody">
    <div class="container" id="playerinfo">
     
    </div>


    <div class="mt-2 text-center h4">
     <div>Room Code : <span id="roomCode"><%= roomCode %></span></div>
      <div><button id="shareBtn" class="btn btn-dark mt-3" data-toggle="modal" data-target="#shareModal">Share</button></div>

    </div>

    <div class="container">
      <div class="battleship-grid grid-user"></div>
      <div class="battleship-grid grid-computer"></div>
    </div>

    <div class="container hidden-info">
      <div class="setup-buttons" id="setup-buttons">
        <button id="start" class="btn btn-success">Start Game</button>
        <button id="rotate" class="btn btn-primary">Rotate Your Ships</button>
        <button id="undo" class="btn btn-primary">Undo</button>
      </div>
      <div class="m-1">
        <button id="exit" class="btn btn-warning name=exit"  >Exit</button>
      </div>
      <h3 id="whose-go" class="info-text">Your Go</h3>
      <h3 id="info" class="info-text"></h3>
    </div>

    <div class="container">
      <div class="grid-display">
        <div class="ship destroyer-container" draggable="true"><div id="destroyer-0"></div><div id="destroyer-1"></div></div>
        <div class="ship submarine-container" draggable="true"><div id="submarine-0"></div><div id="submarine-1"></div><div id="submarine-2"></div></div>
        <div class="ship cruiser-container" draggable="true"><div id="cruiser-0"></div><div id="cruiser-1"></div><div id="cruiser-2"></div></div>
        <div class="ship battleship-container" draggable="true"><div id="battleship-0"></div><div id="battleship-1"></div><div id="battleship-2"></div><div id="battleship-3"></div></div>
        <div class="ship carrier-container" draggable="true"><div id="carrier-0"></div><div id="carrier-1"></div><div id="carrier-2"></div><div id="carrier-3"></div><div id="carrier-4"></div></div>
      </div>
    </div>





     <!-- Bootstrap Modal for sharing room -->
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share Room</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="emailInput">Email Address:</label>
          <input type="email" id="emailInput" class="form-control" placeholder="Enter email address">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="sendEmailBtn" class="btn btn-primary" >Send Email</button>
        </div>
      </div>
    </div>
  </div>




  </body>
</html>